---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ siteUrl }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url><loc>{{ siteUrl }}/home-office/</loc><priority>0.9</priority></url>
  <url><loc>{{ siteUrl }}/wellness/</loc><priority>0.9</priority></url>
  <url><loc>{{ siteUrl }}/kitchen/</loc><priority>0.9</priority></url>
  <url><loc>{{ siteUrl }}/categories/home-office/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/categories/luxury-beauty/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/categories/fitness/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/categories/kitchen/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/categories/pet-tech/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/categories/smart-home/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/search/</loc><priority>0.5</priority></url>
  <url><loc>{{ siteUrl }}/gift-guides/</loc><priority>0.9</priority></url>
  <url><loc>{{ siteUrl }}/gift-guides/remote-workers/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/gift-guides/home-office/</loc><priority>0.8</priority></url>
  <url><loc>{{ siteUrl }}/gift-guides/under-50/</loc><priority>0.8</priority></url>
  {% for article in collections.articlesByDate %}
  <url>
    <loc>{{ siteUrl }}{{ article.url | stripPathPrefix }}</loc>
    <lastmod>{{ article.date | date("yyyy-MM-dd") }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
</urlset>
